!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %meta{:name => "description", :content => "Free Web Development and Design. Search Engine Optimisation, SEO. Website Updates and Rebuilds."}
    %meta{:name => "keywords", :content => "freelance web design, wordpress, keyword optimisation, web designer, freelance, websites, cornwall, free, uk, browser compliant, hosting, google, seo, domain registration, web development cornwall, cms"}
    %title aMiDEV - Free Web Development, Design and Computing Cornwall
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/screen.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/print.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    <!-- [if lt IE 8] >
    %link{:href=>'/stylesheets/ie.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    <![endif] -->
    %script{:type => "text/javascript", :src => "/javascripts/lib/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/lib/modernizr-1.6.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}

  %body
    #container
      #header
        = partial :_nav_main
      #bar
      #header3
        = partial :_header_logo
        = partial :_head_right
      #bar2
      #content
        = yield
      #footer
        %a{:href => "/contact", :id => "footer_text"} Free Web Development for local communities in Cornwall
        = partial :_analytics
